<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.roman.garden.adeasy">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

<!--    <queries>-->
    <!--        <package android:name="com.android.vending" />-->
    <!--        <package android:name="com.amazon.venezia" />-->
    <!--        <package android:name="com.sec.android.app.samsungapps" />-->
    <!--        <package android:name="com.huawei.appmarket" />-->
    <!--    </queries>-->

    <application>

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <!--        //Google 官方建议值为 2.1-->

<!--        <meta-data-->
<!--            android:name="com.google.android.gms.ads.APPLICATION_ID"-->
<!--            android:value="ca-app-pub-5068274441143120~9285554423"/>-->


<!--        <activity android:name="com.adcolony.sdk.AdColonyInterstitialActivity"-->
<!--            android:configChanges="keyboardHidden|orientation|screenSize"-->
<!--            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"-->
<!--            android:hardwareAccelerated="true"/>-->
<!--        <activity android:name="com.adcolony.sdk.AdColonyAdViewActivity"-->
<!--            android:configChanges="keyboardHidden|orientation|screenSize"-->
<!--            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"-->
<!--            android:hardwareAccelerated="true"/>-->

    </application>

</manifest>